<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings  xdt:Transform="Replace">

    <add key="Url" value="http://10.11.161.38:50033/CustomDirectory.aspx"/>
    <add key="Url.Localhost" value="http://10.11.161.38:50032/" />

    <add key="LanguageSetterPath" value="~/Resources/LangaugeSettings/Setter.txt"/>
    <add key="LogError" value="~/Resources/Log/Error.txt"/>
    <add key="LandingPath" value="~/Resources/Landing/Landing.{0}.json"/>
    <add key="SettingsPath" value="~/Resources/Settings/Settings.{0}.json"/>
    <add key="CountryCodesPath" value="~/Resources/CountryCode/CountryCode.{0}.json"/>
    <add key="LangaugeSettingsPath" value="~/Resources/LangaugeSettings/LanguageSettings.{0}.json"/>

  </appSettings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>